body{
    background-color: beige;
    }
    
h1 {
        margin: auto;
        width: fit-content;
        font-size: large;
        color: crimson;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

#chimie {
    padding: 50px;
    width: 450px;
    height: 250px;
}
#pc {
    text-align: center;
}

#Nb {
    color :darkred;
    font-family: monospace;
}

