
body{
background-color: beige;
}

h1{
    margin: auto;
    width: fit-content;
    font-size: large;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#demi-tps {
    padding: 50px;
    width: 400px;
    height: 400px;
    
}

#demi {
    text-align: center;
}

#esterf{
    padding: 50px;
    width: 330px;
    height: 250px;
}

#ester{
    text-align: center;
}



button{
    
    right : 550px;
    top : 550px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: gold;
    padding: 10px 15px;
    min-width: 100px;
    min-height: 45px;
    border-radius: 10px;
}

#score{
    right : 400px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: darkgreen;
    padding: 10px 15px;
    min-width: 10px;
    min-height: 4.5px;
    border-radius: 10px;
}

#qst1,#qst2,#qst3,#qst4,#qst5,#qst6,#qst7,#qst8,#qst9,#qst10,#qst11,#qst12 {
    font-size : 15px;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#longon{
    padding: 50px;
    width: 800px;
    height: 250px;
}

#long,#stab{
    text-align: center;
}

#stabl{
    padding: 50px;
    width: 900px;
    height: 200px;
}